mixin header
	header.header
		.main-logo-wrap
			a(href="#", target="_blank").main-logo-link
				img(src="#", alt="Logo").main-logo-img

		nav.main-nav
			.toggle-menu
				button(type="button").menu-btn-close
					span.visually-hidden
						| Close menu
				button(type="button").menu-btn-open
					span.visually-hidden
						| Open menu

			ul.nav-items
				li.nav-item
					a(href="#").nav-link
						| Menu
				li.nav-item
					a(href="#").nav-link
						| Menu
				li.nav-item
					a(href="#").nav-link
						| Menu
				li.nav-item
					a(href="#").nav-link
						| Menu
				li.nav-item
					a(href="#").nav-link
						| Menu