/* @font-face {
	font-display: swap;
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-weight: 700;
	src: local("Bebas Neue"),
		 local("BebasNeue Bold"),
  		 url("../fonts/BebasNeueBold.woff2") format("woff2"),
    	 url("../fonts/BebasNeueBold.woff") format("woff");
} */


/* 
100 - Thin
200 - Extra Light, Ultra Light
300 - Light
400 - Normal, Book, Regular
500 - Medium
600 - Semi Bold, Demi Bold
700 - Bold
800 - Extra Bold, Ultra Bold
900 - Black, Heavy
*/