// text
$white-text: #ffffff;
$black-text: #000000;
$purple-text: #9595EF;
$grey-text: rgba(0, 0, 0, 0.501245);


// background
$white-bg: #ffffff;
$black-bg: #000000;
$purple-bg: #9595EF;


// border, outline
$purple-outline-hover: #9595EF;
$input-brdr: rgba(0, 0, 0, 0.5);


// hover, focus, active, disable
$purple-bg-disable: #c7c7f5;
$purple-text-hover: #9595EF;
$purple-darken-text-hover: #8181e2;
$purple-darken-bg-hover: #8181e2;


// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// Screens
$xlg: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$mb: 600px;
